.header_wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/peoplesMOBILE.jpg);
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-repeat: no-repeat;
  /* background-size: 321px 541px; */
  background-position: center;
  background-size: cover;
}

.log_buttons {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0 auto 115px;
  padding-top: 19px;
}

.log_in {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  outline: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.sing_up {
  background-color: transparent;
  text-transform: capitalize;
  outline: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: solid 2px white;
  padding: 13px 18px 10px 20px;
  border-radius: 50px;
  color: #ffffff;
}

.logo {
  margin-bottom: 38px;
  font-weight: bold;
  text-align: center;
}

.logo_link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header_wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/peoplesTABLET.jpg);
    background-size: cover;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    padding-top: 47px;
    margin: 0 auto;
  }

  .log_buttons {
    padding-top: 0;
    width: 165px;
    margin: 0;
  }

  .logo {
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .header_wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/peoplesDESKTOP.jpeg);
    background-size: cover;
  }

  .header {
    width: 940px;
  }

  .log_buttons {
    right: 251px;
  }

  .logo {
    left: 250px;
  }
}
