
.section1 {
    text-align: center;
}



.section1_title {
    margin: 0 auto 19px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.section1_text {
    margin: 0 auto 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 217px;
    font-size: 18px;
    color: #ffffff;

}

.section1_button{
    margin-bottom: 139px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 52px 12px;
    background-color: #FF4E50;
    border-radius: 50px;
    outline: none;
    border: none;
    color: #ffffff;
}