.section {
  text-align: center;
}

.title {
  display: block;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 22px;
}

.title_of_section {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
