.header {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  padding: 0 180px 30px 180px;
  align-items: flex-end;
  justify-content: space-between;
}

.sub_menu {
  display: none;
  text-transform: uppercase;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

.sub_menu_item:hover {
  background-color: #f38181;
}

.menu_item:hover > .sub_menu {
  display: block;
  position: absolute;
}

.logo {
  margin-top: 28px;
  width: 100px;
  padding-right: 624px;
}

.logo_link {
  color: #95e1d3;
  font-family: "Montserrat", sans-serif;
}

h1::first-letter {
  text-transform: uppercase;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
  /*  position: relative; */
}

.menu_item_link:hover {
  color: #f38181;
}

.menu_item:last-child {
  padding-right: 0%;
}
.menu_item {
  padding-right: 57px;
  padding-bottom: 3px;
}

.menu_item_link {
  color: #95e1d3;
  font-family: "Montserrat", sans-serif;
}

span {
  text-transform: uppercase;
}
