.pre_section {
  display: block;
  /* position: absolute;
  top: 224px;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
  margin-bottom: 66px;
  padding-top: 178px;
}

.pre_section_title {
  display: block;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 22px;
  font-size: 24px;
}

.pre_section_text {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  /* margin-bottom: 111px; */
  font-size: 30px;
}

.pre_section_text::after {
  content: "";
  display: block;
  width: 61px;
  height: 4px;
  background-color: #f38181;
  margin: 41px auto 0 auto;
}

.card {
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-start;
  width: 380px;
  height: 69px;
  margin-bottom: 100px;
  margin-right: 71px;
}

.card_title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.card_info {
}

.card_info::before {
  content: "";
  background-image: url("ALARM.png");
  width: 32px;
  height: 31px;
  

}
