



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');








ul > li {
  display: inline-block;
}

nav {
  text-align: center;
  margin-top: 77px;
  margin-bottom: 104px;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

li {
  margin-left: 132px;
  margin-right: 132px;
}

li > a:hover {
  color: #03a9f4;
}

.Navigation {
  text-decoration: none;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
}

span {
  display: block;
  color: #b4ad9e;
  margin-bottom: 31px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
section {
  display: inline-block;
  margin-left: 150px;
}

.Image {
  height: 316px;
  width: 474px;
  margin-bottom: 34px;
}

p {
  margin-top: 41px;
  font-family: 'Playfair Display', serif;
}

footer {
  text-align: center;
}

button {
  height: 59px;
  width: 164px;
  background-color: #fff;
  border-color: #626262;
  padding: 22px 33px;
  border-width: 1px 1px;
  font-family: 'Playfair Display', serif;
}

.section1 {
  width: 474px;
  display: inline-block;
}

.Title {
  font-family: 'Playfair Display', serif;
}